{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block body %}

	{% for formation in formations %}
		<div class="px-4 pt-5 my-5 text-center border-bottom">
			<h1 class="display-4 fw-bold">{{ formation.nom }}</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">{{ formation.resume }}</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
					<a href="{{ formation.lien }}" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Consulter la formation</a>
				</div>
			</div>
			<div class="overflow-hidden">
				<div class="container px-5">
                    {% if formation.image %}
					    <img src="{{ formation.image }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
	                {% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	
{% endblock %}
